.navbar-container {
    height: auto;   
}

.navbar-logo {
    height: 90%;
}

.navbar-links {
    display: flex;
    gap: 2em;
}

.navbar-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 20em;
}