.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    height: 20em;
}

.navbar-logo {
    height: 90%;
}

.navbar-links {
    display: flex;
    gap: 2em;
}