:root {
  --primary-blue: #1fefe2;
  --secondary-blue-dark: #46a59d;
  --primary-purple: #a925f5;
  --secondary-purple-dark: #5f308c;
  --accent-pink: #f4179a;
  --accent-yellow: #fff204;
  --accent-orange-dark: #f7931e;
  --accent-orange: #FBB03B;  
}

a {
    color: var(--primary-blue);
    text-decoration: none;
}

li {
    list-style: none;
}
